
<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Starter Template for Bootstrap</title>

    <link href="vendor/bootstrap.min.css" rel="stylesheet">
    
    
    <script src="vendor/jquery.min.js"></script>
    <script src="vendor/bootstrap.min.js"></script>
  
    <script src="vendor/angular.min.js"></script>

    <script src="vendor/web3.min.js"></script>

    <script src="index.js"></script>
    <script src="services.js"></script>
  </head>

  <body>

    <div class="container" ng-controller="indexController">

      
      <br>
      <div class="row">
        <div class="col-6">
            <button class="btn btn-info" ng-click="getBalance()">Balance</button>
            <button class="btn btn-success" ng-click="getCounter()">get Counter</button>
            <button class="btn btn-warning" ng-click="increaseCounter()">increase Counter</button>
        </div>
        <div class="col-6">
            <button class="btn btn-danger" ng-click="startMiner()">Start miner</button>
            <button class="btn btn-warning" ng-click="stopMiner()">Stop miner</button>
            <button class="btn btn-info" ng-click="checkPendingTransactions()">Check</button>
        </div>
    </div>
      <br>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Endereço</th>
            <th scope="col">Saldo</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="w in wallets">
            <th>{{w.address}}</th>
            <td>{{w.balance}}</td>
          </tr>
        </tbody>
      </table>

      <hr>

      <span>Counter: {{counter}}</span>

      <br>
      <br>
      <br>
      <pre>{{txHash | json}}</pre>
        

    </div>
  </body>
</html>
